@model Event
<h3 class="text-center">Add new event</h3>
<form asp-action="AddEvent" method="post" enctype="multipart/form-data">
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row m-2">
        <label asp-for="Title" class="col-3 text-end"></label>
        <input asp-for="Title" class="col-6"/>
        <span asp-validation-for="Title" class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
        <label asp-for="Artist" class="col-3 text-end"></label>
        <input asp-for="Artist" class="col-6" />
        <span asp-validation-for="Artist" class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
        <label asp-for="Date" class="col-3 text-end"></label>
        <input asp-for="Date" type="date" class="col-6" />
        <span asp-validation-for="Date" class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
        <label asp-for="VenueId" class="col-3 text-end"></label>
        <select asp-for="VenueId" class="col-6" asp-items="@(new SelectList(ViewBag.Venues, "Id", "Name"))">
            <option value="">-- Select Venue --</option>
        </select>
        <span asp-validation-for="VenueId" class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end">Event Image</label>
        <input type="file" name="ImageFile" class="col-6" />
        <span class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
        <label asp-for="TotalTickets" class="col-3 text-end"></label>
        <input asp-for="TotalTickets" type="number" class="col-6" />
        <span asp-validation-for="TotalTickets" class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
        <input type="submit" value="Save" class="col-6 offset-3 btn btn-primary" />
   </div>
</form>